In [2]:
import pandas as pd
import numpy as np

In [3]:
PATH_ROSTER = './14th_2021_roster.xlsx'
PATH_SALARY = './14th_2021_timesheet.csv'
PATH_EM = './EmployeeID.csv'

df_sal = pd.read_csv(PATH_SALARY)
df_ros = pd.read_excel(PATH_ROSTER)
df_em = pd.read_csv(PATH_EM)

In [11]:
df_sal.sort_values('firstname').to_csv('./all_drivers_in_timesheet.csv')

In [6]:
df_sal.Total_hour.sum()

1548.35

In [10]:
missing = ['swderjos', 'swharbob', 'swmedd', 'swfeixia', 'swfevefa']
df_em[df_em.EmployeeID.isin(missing)]

,Name,EmployeeID,lastname,firstname,middlename
8,"Derkington, Josephine Natasha",swderjos,derkington,josephine,natasha
12,"Fei, Xiaohua",swfeixia,fei,xiaohua,nomiddlename
13,"Fevaleaki, Efalata",swfevefa,fevaleaki,efalata,nomiddlename
19,"Hartanto, Boby",swharbob,hartanto,boby,nomiddlename
36,"Medina, David Fernando",swmedd,medina,david,fernando